<%- include ('../partials/header.ejs') %>
<%- include ('../partials/navbarUser.ejs') %>

<body>
    <hr>
    <div class="container">
        <div class="card">
            <div class="card-header"><h3>Cadastramento para a Roda de Cura de <%=dataProximoEvento%></h3></div>
            <div class="card-body">
                <form method="POST" autocomplete="off" action="./pessoas/saveRoda">
                    <div class="row">
                        <div class="col"><label>Nome da Pessoa</label></div>
                        <div class="col-10">                          
                            <input type="text"   id="tags" placeholder="Digite o seu nome" name="nmPessoa" class="form-control">
                            <input type="hidden" id="Tags" value='<%=availableTags%>' name="Tags">
                            <input type="hidden" id="ID"   name="ID">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col"><label>Email</label></div>
                        <div class="col-10">
                            <input type="text" placeholder="Digite o seu Email" name="emailPessoa" class="form-control">
                        </div>
                    </div>                    
                    <br>
                    <button class="btn btn-success">Salvar</button>
                </form>
            </div>
        </div>  
    </div>
</body>

<%- include ('../partials/footer.ejs') %>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
    var Tags = $("#Tags").val();
    Tags = Tags.replaceAll('"','');
    var aTags = Tags.split(',');
    var i = 0;
    var aTagItem = [];

    aTags.forEach(element => {
        aTagItem[i]=[
            { 'value' : element.split('-')[1].split('|')[0], 
              'label' : element.split('-')[0], 
              'email' : element.split('|')[1]
            }
        ]
        i++;
    });

    $( "#tags" ).autocomplete({
        source: aTagItem,
        focus: function( event, ui ) {
            $( "#tags" ).val( ui.item.label );
            return false;
        },
        select: function( event, ui ) {
            $( "#emailPessoa" ).val( ui.item.email );
            $( "#ID" ).val( ui.item.value );
            $( "#tags" ).val( ui.item.label) 
            return false;
        },
        classes: {
            "ui-autocomplete": "highlight"
        }
    }); 
});
</script>