<%- include ('../partials/header.ejs') %>
<%- include ('../partials/navbarUser.ejs') %>

<body>
    <hr>
    <div class="container">
        <div class="card">
            <div class="card-header"><h3>Cadastramento para a Roda de Cura de <%=dataProximoEvento%></h3></div>
            <div class="card-body">
                <form method="POST" autocomplete="off" action="save">
                    <div class="row">
                        <div class="col"><label>Nome da Pessoa</label></div>
                        <div class="col-10">                          
                            <input type="text" id="tags" placeholder="Digite o seu nome" name="nmPessoa" class="form-control">
                            <input type="hidden" id="Tags" value='<%=availableTags%>' name="Tags">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col"><label>Email</label></div>
                        <div class="col-10">
                            <input type="text" placeholder="Digite o seu Email" name="emailPessoa" class="form-control">
                        </div>
                    </div>                    
                    <br>
                    <button class="btn btn-success">Salvar</button>
                </form>
            </div>
        </div>  
    </div>
</body>

<%- include ('../partials/footer.ejs') %>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
    var Tags = $("#Tags").val();
    alert(Tags);
  $( "#tags" ).autocomplete({
    source: Tags
  }); 
});
</script>