<%- include ('../partials/header.ejs') %>
<%- include ('../partials/navbar.ejs') %>
<link rel="stylesheet" href="/bootstrap-4.5.2-dist/css/bootstrap.css">
<link rel="stylesheet" href="/css/estilo.css">

<body>
    <hr>
    <div class="container">
        <div class="card">
            <div class="card-header xHeader text-center">Cadastramento para a Roda de Cura de <%=dataEvento%></div>
            <div class="card-body">
                <form method="POST" autocomplete="off" action="/pessoas/saveRoda">
                    <div class="row">
                        <div class="col xpto"><label>Nome da Pessoa</label></div>
                        <div class="col-10">                          
                            <input type="text"   id="tags"         name="nmPessoa"     placeholder="Digite o seu nome" class="form-control xpto">
                            <input type="hidden" id="Tags"         name="Tags"         value='<%=availableTags%>'>
                            <input type="hidden" id="ID"           name="ID">
                            <input type="hidden" id="presenca"     name="presenca"     value="1">
                            <input type="hidden" id="Grupo"        name="Grupo">
                            <input type="hidden" id="idFranqueado" name="idFranqueado" value='0'">
                            <input type="hidden" id="dtEvento"     name="dtEvento"     value="<%=dataEventoSelecao%>">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col xpto"><label>Email</label></div>
                        <div class="col-10">
                            <input type="text" placeholder="Digite o seu Email" name="emailPessoa" id="emailPessoa" class="form-control xpto margemValor">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col xpto"><label>Contribuição</label></div>
                        <div class="col-10">
                            <input type="text" placeholder="Valor" name="valorEvento" id="valorEvento" class="form-control money xpto">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col xpto"><label>Observação</label></div>
                        <div class="col-10">
                            <input type="text" placeholder="Observações" name="observacao" id="observacao" class="form-control xpto">
                        </div>
                    </div>    
                    <br>
                    <button class="btn btn-success">Salvar</button>
                </form>
            </div>
        </div>  
    </div>
</body>

<%- include ('../partials/footer.ejs') %>

<script src="/jQuery/jquery.inputmask.bundle.js"></script>
<script src="/jQuery/mascaras.js"></script>

<script>
$( function() {
    var Tags = $("#Tags").val();
    Tags = Tags.replaceAll('"','');
    var aTags = Tags.split(',');
    var i = 0;
    var aTagItem = [];

    aTags.forEach(element => {
        aTagItem[i]=
            { value : element.split('-')[1].split('|')[0], 
              label : element.split('-')[0], 
              email : element.split('|')[1].split('_')[0],
              grupo : element.split('_')[1]
            }
        
        i++;
    });

    $( "#tags" )
        .autocomplete({
            source: aTagItem,
            focus: function( event, ui ) {
            $( "#tags" ).val( ui.item.label );
            return false;
        },
            select: function( event, ui ) {
            $( "#emailPessoa" ).val( ui.item.email );
            $( "#ID" ).val( ui.item.value );
            $( "#tags" ).val( ui.item.label );
            $( "#Grupo" ).val( ui.item.grupo );
            return false;
        },
            classes: {
            "ui-autocomplete": "highlight"
        }
        })
        .autocomplete( "instance" )
        ._renderItem = function( ul, item ) {
            return $( "<li>" )
            .append( "<div>" + item.label + "</div>" )
            .appendTo( ul );
        };
    });
</script>