<%- include ('../partials/header.ejs') %>
<%- include ('../partials/navbarUser.ejs') %>
<link rel="stylesheet" href="/bootstrap-4.5.2-dist/css/bootstrap.css">
<body>
    <hr>
    <div class="container">
        <div class="card">
            <div class="card-header"><h3>Cadastramento para a Roda de Cura de <%=proximaRoda%></h3></div>
            <div class="card-body">
                <form method="POST" autocomplete="off" action="/pessoas/saveRoda">
                    <div class="row">
                        <div class="col"><label>Nome da Pessoa</label></div>
                        <div class="col-10">                          
                            <input type="text"   id="tags"         class="form-control"       name="nmPessoa" placeholder="Digite o seu nome">
                            <input type="hidden" id="Tags"         value='<%=availableTags%>' name="Tags">
                            <input type="hidden" id="ID"                                      name="ID">
                            <input type="hidden" id="presenca"     value="0"                  name="presenca">
                            <input type="hidden" id="valorEvento"  value="0"                  name="valorPago">
                            <input type="hidden" id="Grupo"                                   name="Grupo">
                            <input type="hidden" id="idFranqueado" value='0'                  name="idFranqueado">
                            <input type="hidden" id="dtEvento"     value="<%=dataEvento%>"    name="dtEvento">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col"><label>Email</label></div>
                        <div class="col-10">
                            <input type="text" placeholder="Digite o seu Email" name="emailPessoa" id="emailPessoa" class="form-control">
                        </div>
                    </div>                    
                    <br>
                    <button class="btn btn-success">Salvar</button>
                </form>
            </div>
        </div>  
    </div>
</body>

<%- include ('../partials/footer.ejs') %>

<script>
$( function() {
    var Tags = $("#Tags").val();
    Tags = Tags.replaceAll('"','');
    var aTags = Tags.split(',');
    var i = 0;
    var aTagItem = [];

    aTags.forEach(element => {
        aTagItem[i]=
            { value        : element.split('-')[1].split('|')[0], 
              label        : element.split('-')[0], 
              email        : element.split('|')[1].split('_')[0],
              idFranqueado : element.split("?")[1],
              grupo        : element.split('_')[1].split('?')[0]
            }
        
        i++;
    });

    $( "#tags" )
        .autocomplete({
            source: aTagItem,
            focus: function( event, ui ) {
            $( "#tags" ).val( ui.item.label );
            return false;
        },
            select: function( event, ui ) {
            $( "#emailPessoa" ).val( ui.item.email );
            $( "#ID" ).val( ui.item.value );
            $( "#tags" ).val( ui.item.label );
            $( "#Grupo" ).val( ui.item.grupo );
            $( "#idFranqueado" ).val( ui.item.idFranqueado );
            return false;
        },
            classes: {
            "ui-autocomplete": "highlight"
        }
        })
        .autocomplete( "instance" )
        ._renderItem = function( ul, item ) {
            return $( "<li>" )
            .append( "<div>" + item.label + "</div>" )
            .appendTo( ul );
        };
    });
</script>