<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<body>
    <div class="container">
        <hr>
        <h2>Roda de Cura ( <%= dataEvento %> )</h2>
        <a href="../pessoas/cadRoda" class="btn btn-primary">Nova Pessoa</a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Presença</th>
                    <th>Nome</th>                    
                    <th>Contribuição</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <% eventosRoda.forEach(evento => { %>
                    <tr> 
                        <td> <input type="checkbox" name="presenca"></td>                       
                        <td> <%= evento.nmPessoa%> </td>
                        <td> <input type="text" name="valorPago" value="<%= evento.valorPago%>"/> </td>
                        <td><a href="./pessoas/putRoda/<%= evento.idPessoa %>" class="btn btn-success">Salvar</a></td>   
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>

<%- include ('../../partials/footer.ejs') %>