<%- include ('../partials/header.ejs') %>
<%- include ('../partials/navbar.ejs') %>

<body>
    <hr>
    <div class="container">
        <div class="card">
            <div class="card-header"><h3>Edição de Evento</h3></div>
            
            <div class="card-body">
                <form method="POST" action="update">
                    <div class="row">
                        <div class="col"><label>Nome do Evento</label></div>
                        <div class="col-10">
                            <input type="hidden" name="id" value="<%= evento.id %>">
                            <input type="text" placeholder="Digite o nome do Evento" 
                            name="nomeEvento" class="form-control"
                            value="<%= evento.nomeEvento %>">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col"><label>Periodicidade</label></div>
                        <div class="col-10">
                            <input type="text" placeholder="Periodicidade" 
                                name="periodicidade" class="form-control"
                                value="<%= evento.periodicidade %>">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col"><label>Próximo Evento</label></div>
                        <div class="col-10">
                            <input type="text" placeholder="__/__/____" 
                            name="dataProximoEvento" class="form-control date"
                            value="<%= evento.dataProximoEvento %>">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col"><label>Horário</label></div>
                        <div class="col-10">
                            <input type="text" placeholder="__:__" 
                            name="dataProximoEvento" class="form-control timeHM"
                            value="<%= evento.dataProximoEvento %>">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col"><label>Mínimo</label></div>
                        <div class="col-10">
                                <input type="text" placeholder="0" 
                                name="numMinimo" class="form-control int3"
                                value="<%= evento.numMinimo %>">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col"><label>Máximo</label></div>
                        <div class="col-10">
                            <input type="text" placeholder="0" 
                            name="numMaximo" class="form-control int3"
                            value="<%= evento.numMaximo %>">
                        </div>
                    </div>
                                        
                    <div class="row">
                        <div class="col"><label>Valor Convidado</label></div>
                        <div class="col-10">
                            <input type="text" placeholder="0,00" 
                            name="valorConvidado" class="form-control money"
                            value="<%= evento.valorConvidado %>">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col"><label>Valor Xamã</label></div>
                        <div class="col-10">
                            <input type="text" placeholder="0,00"
                             name="valorXama" class="form-control money"
                             value="<%= evento.valorXama %>">
                        </div>
                    </div>

                    <br>
                    <button class="btn btn-success">Salvar</button>
                </form>
            </div>
        </div>  
    </div>
</body>

<%- include ('../partials/footer.ejs') %>

<script src="/jQuery/jquery.mask.js"></script>
<script src="/jQuery/mascaras.js"></script>