<link rel="stylesheet" href="/bootstrap-4.5.2-dist/css/bootstrap.css">

<%- include ('../partials/header.ejs') %>
<%- include ('../partials/navbar.ejs') %>

<link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.css">

<body>
    <div id="wrapper">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Edição do Evento</h2>
            </div>
            <div class="col-lg-2">
            </div>
        </div>

        <div class="wrapper wrapper-content1">
            <div class="col-sm-7">
                <div class="col-sm-12 animated fadeInRight">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Cadastro</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-3">Nome do Evento</div>
                                <div class="col-xs-9">
                                    <input type="hidden" name="id" value="<%= evento.id %>">
                                    <input type="text" placeholder="Digite o nome do Evento" 
                                        name="nomeEvento" class="form-control"
                                        value="<%= evento.nomeEvento %>">   
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">Periodicidade</div>
                                <div class="col-xs-9">
                                    <input type="text" placeholder="Periodicidade" 
                                        name="periodicidade" class="form-control"
                                        value="<%= evento.periodicidade %>">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">Próximo Evento</div>
                                <div class="col-xs-9">
                                    <input type="text" placeholder="__/__/____" 
                                    name="dataProximoEvento" class="form-control date"
                                    value="<%= evento.dataProximoEvento %>">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">Horário</div>
                                <div class="col-xs-9">
                                    <input type="text" placeholder="__:__" 
                                    name="horaProximoEvento" class="form-control timeHM"
                                    value="<%= evento.horaProximoEvento %>">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">Mínimo</div>
                                <div class="col-xs-9">
                                        <input type="text" placeholder="0" 
                                        name="numMinimo" class="form-control int3"
                                        value="<%= evento.numMinimo %>">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">Máximo</div>
                                <div class="col-xs-9">
                                    <input type="text" placeholder="0" 
                                    name="numMaximo" class="form-control int3"
                                    value="<%= evento.numMaximo %>">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">Valor Convidado</div>
                                <div class="col-xs-9">
                                    <input type="text" placeholder="0,00" 
                                    name="valorConvidado" class="form-control money"
                                    value="<%= evento.valorConvidado %>">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">Valor Xamã</div>
                                <div class="col-xs-9">
                                    <input type="text" placeholder="0,00"
                                        name="valorXama" class="form-control money"
                                        value="<%= evento.valorXama %>">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="wrapper wrapper-content">
            <div class="row animated fadeInRight">
                <div class="col-xs-12" style="margin-top: -10px;">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Timeline</h5>
                            <div class="ibox-tools">
                                <button type="button" class="btn btn-xs btn-info">Novo</button>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>

                        <div class="ibox-content inspinia-timeline">
                            <% for(var item=0; item < timeline.length; item++) { %>
                            <div class="timeline-item">
                                <div class="row">
                                    <div class="col-xs-4" style="margin-top: 15px;">
                                        <%
                                            var icone = "";
                                            if(timeline[item].acao == "Email"){icone="fa fa-envelope"};
                                            if(timeline[item].acao == "Relatorio"){ icone="fas fa-file-alt"};
                                            if(timeline[item].acao == "Caixa Postal"){icone="fas fa-mailbox"};
                                        %>

                                        <i class="<%= icone %>"></i>
                                        <%= timeline[item].acao %>
                                        <br/>
                                        <small class="fas fa- text-navy"><%= timeline[item].dataEmissao %></small>
                                    </div>
                                    <div class="col-xs-6 content no-top-border">
                                        <p class="m-b-xs"><strong><h4><%= timeline[item].Titulo %></h4></strong></p>
                                        <p><%= timeline[item].antesDepois %><%= timeline[item].quantidade %>&nbsp<%= timeline[item].unidade %></p> 
                                    </div>
                                    <div class="col-xs-2" style="margin-top: 15px;">                                  
                                        <button type="button" onclick="tlEditar('<%= timeline[1].id %>')"  class="btn btn-xs btn-info">Editar</button>
                                        <button type="button" onclick="tlExcluir()" class="btn btn-xs btn-info">Excluir</button>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

<%- include ('../partials/footer.ejs') %>

<script>
    function tlEditar(id) {
        window.location="/getTimeline/"+id;
    }

    function tlExcluir() {

       alert("Exclusao");
    }
</script>

<script src="/jQuery/jquery-3.1.1.min.js"></script>
<script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/jQuery/jquery.mask.js"></script>
<script src="/jQuery/mascaras.js"></script>
<script src="/jQuery/popper.min.js"></script>

<!-- Mainly scripts -->
<script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Peity -->
<script src="/js/plugins/peity/jquery.peity.min.js"></script>
<!-- Custom and plugin javascript -->

<script src="/js/plugins/pace/pace.min.js"></script>    

<!-- Peity -->
<script src="/js/demo/peity-demo.js"></script>