<%- include('../partials/header.ejs') %>

<body>
    <%- include ('../partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <h2>Eventos</h2>
        <a href="new" class="btn btn-primary">Novo Evento</a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nome do Evento</th>
                    <th>Periodicidade</th>
                    <th>Data</th>
                    <th>nº Mín</th>
                    <th>nº Máx</th>
                    <th>Vl. Convidado</th>
                    <th>Vl. Xamã</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% eventos.forEach(evento => { %>
                    <tr>                        
                        <td> <%= evento.nomeEvento     %> </td>
                        <td> <%= evento.periodicidade  %> </td>
                        <td> <%= evento.dataEvento     %> </td>
                        <td> <%= evento.numMinimo      %> </td>
                        <td> <%= evento.numMaximo      %> </td>
                        <td> <%= evento.valorConvidado %> </td>
                        <td> <%= evento.valorXama      %> </td>
                        <td><button class="btn btn-warning">Editar</button>
                            <form action="POST" action="/eventos/deleteEvento" style="display: inline; padding-left: 5px;">
                                <input type="hidden" name="id" value="<%= evento.id %>">
                                <button class="btn btn-danger">Excluir</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>

<%- include ('../partials/footer.ejs') %>
